@charset "utf-8";
.container {
    background-image: -webkit-linear-gradient(270deg,rgba(65,52,52,1.00) 0%,rgba(153,27,27,1.00) 14.30%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(65,52,52,1.00) 0%,rgba(153,27,27,1.00) 14.30%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(65,52,52,1.00) 0%,rgba(153,27,27,1.00) 14.30%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(65,52,52,1.00) 0%,rgba(153,27,27,1.00) 14.30%,rgba(255,0,0,1.00) 100%);
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #000000;
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 {
}
.navbar.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 .navbar-nav.mr-auto {
    background-color: #B7C6D9;
}
